html,
body,

.circleMap {
  overflow: "hidden";
  position: absolute;
  /*-webkit-border-radius: 50%*/
}

.container {
  width: 100%;
  position: relative;

}

.esri-attribution {
  width: 0%;
  height:0%;
}

.esri-widget-button {
  width: 0%;
  height:0%;
}

.esri-widget-esri-interactive {
  width: 0%;
  height:0%;
}
